<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fiction.crawler.biz.dao.mapper.FictionInfoMapper" >
  <resultMap id="BaseResultMap" type="com.fiction.crawler.domain.dto.FictionInfo" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="fiction_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="fiction_author" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="img" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_over" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="fiction_size" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="fiction_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sex_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="subscription_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="collect_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="click_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ext" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, create_time, update_time, fiction_name, fiction_author, img, is_over, fiction_size, 
    fiction_type, sex_type, subscription_num, collect_num, click_num, ext
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fiction.crawler.domain.dto.FictionInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from fiction_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fiction_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fiction_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fiction.crawler.domain.dto.FictionInfoExample" >
    delete from fiction_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fiction.crawler.domain.dto.FictionInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fiction_info (create_time, update_time, fiction_name, 
      fiction_author, img, is_over, 
      fiction_size, fiction_type, sex_type, 
      subscription_num, collect_num, click_num, 
      ext)
    values (NOW(), NOW(), #{fictionName,jdbcType=VARCHAR},
      #{fictionAuthor,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, #{isOver,jdbcType=VARCHAR}, 
      #{fictionSize,jdbcType=VARCHAR}, #{fictionType,jdbcType=INTEGER}, #{sexType,jdbcType=INTEGER}, 
      #{subscriptionNum,jdbcType=INTEGER}, #{collectNum,jdbcType=INTEGER}, #{clickNum,jdbcType=INTEGER}, 
      #{ext,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fiction.crawler.domain.dto.FictionInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fiction_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="fictionName != null" >
        fiction_name,
      </if>
      <if test="fictionAuthor != null" >
        fiction_author,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="isOver != null" >
        is_over,
      </if>
      <if test="fictionSize != null" >
        fiction_size,
      </if>
      <if test="fictionType != null" >
        fiction_type,
      </if>
      <if test="sexType != null" >
        sex_type,
      </if>
      <if test="subscriptionNum != null" >
        subscription_num,
      </if>
      <if test="collectNum != null" >
        collect_num,
      </if>
      <if test="clickNum != null" >
        click_num,
      </if>
      <if test="ext != null" >
        ext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fictionName != null" >
        #{fictionName,jdbcType=VARCHAR},
      </if>
      <if test="fictionAuthor != null" >
        #{fictionAuthor,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="isOver != null" >
        #{isOver,jdbcType=VARCHAR},
      </if>
      <if test="fictionSize != null" >
        #{fictionSize,jdbcType=VARCHAR},
      </if>
      <if test="fictionType != null" >
        #{fictionType,jdbcType=INTEGER},
      </if>
      <if test="sexType != null" >
        #{sexType,jdbcType=INTEGER},
      </if>
      <if test="subscriptionNum != null" >
        #{subscriptionNum,jdbcType=INTEGER},
      </if>
      <if test="collectNum != null" >
        #{collectNum,jdbcType=INTEGER},
      </if>
      <if test="clickNum != null" >
        #{clickNum,jdbcType=INTEGER},
      </if>
      <if test="ext != null" >
        #{ext,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fiction.crawler.domain.dto.FictionInfoExample" resultType="java.lang.Integer" >
    select count(*) from fiction_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fiction_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fictionName != null" >
        fiction_name = #{record.fictionName,jdbcType=VARCHAR},
      </if>
      <if test="record.fictionAuthor != null" >
        fiction_author = #{record.fictionAuthor,jdbcType=VARCHAR},
      </if>
      <if test="record.img != null" >
        img = #{record.img,jdbcType=VARCHAR},
      </if>
      <if test="record.isOver != null" >
        is_over = #{record.isOver,jdbcType=VARCHAR},
      </if>
      <if test="record.fictionSize != null" >
        fiction_size = #{record.fictionSize,jdbcType=VARCHAR},
      </if>
      <if test="record.fictionType != null" >
        fiction_type = #{record.fictionType,jdbcType=INTEGER},
      </if>
      <if test="record.sexType != null" >
        sex_type = #{record.sexType,jdbcType=INTEGER},
      </if>
      <if test="record.subscriptionNum != null" >
        subscription_num = #{record.subscriptionNum,jdbcType=INTEGER},
      </if>
      <if test="record.collectNum != null" >
        collect_num = #{record.collectNum,jdbcType=INTEGER},
      </if>
      <if test="record.clickNum != null" >
        click_num = #{record.clickNum,jdbcType=INTEGER},
      </if>
      <if test="record.ext != null" >
        ext = #{record.ext,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fiction_info
    set id = #{record.id,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      fiction_name = #{record.fictionName,jdbcType=VARCHAR},
      fiction_author = #{record.fictionAuthor,jdbcType=VARCHAR},
      img = #{record.img,jdbcType=VARCHAR},
      is_over = #{record.isOver,jdbcType=VARCHAR},
      fiction_size = #{record.fictionSize,jdbcType=VARCHAR},
      fiction_type = #{record.fictionType,jdbcType=INTEGER},
      sex_type = #{record.sexType,jdbcType=INTEGER},
      subscription_num = #{record.subscriptionNum,jdbcType=INTEGER},
      collect_num = #{record.collectNum,jdbcType=INTEGER},
      click_num = #{record.clickNum,jdbcType=INTEGER},
      ext = #{record.ext,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fiction.crawler.domain.dto.FictionInfo" >
    update fiction_info
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fictionName != null" >
        fiction_name = #{fictionName,jdbcType=VARCHAR},
      </if>
      <if test="fictionAuthor != null" >
        fiction_author = #{fictionAuthor,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="isOver != null" >
        is_over = #{isOver,jdbcType=VARCHAR},
      </if>
      <if test="fictionSize != null" >
        fiction_size = #{fictionSize,jdbcType=VARCHAR},
      </if>
      <if test="fictionType != null" >
        fiction_type = #{fictionType,jdbcType=INTEGER},
      </if>
      <if test="sexType != null" >
        sex_type = #{sexType,jdbcType=INTEGER},
      </if>
      <if test="subscriptionNum != null" >
        subscription_num = #{subscriptionNum,jdbcType=INTEGER},
      </if>
      <if test="collectNum != null" >
        collect_num = #{collectNum,jdbcType=INTEGER},
      </if>
      <if test="clickNum != null" >
        click_num = #{clickNum,jdbcType=INTEGER},
      </if>
      <if test="ext != null" >
        ext = #{ext,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fiction.crawler.domain.dto.FictionInfo" >
    update fiction_info
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      fiction_name = #{fictionName,jdbcType=VARCHAR},
      fiction_author = #{fictionAuthor,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      is_over = #{isOver,jdbcType=VARCHAR},
      fiction_size = #{fictionSize,jdbcType=VARCHAR},
      fiction_type = #{fictionType,jdbcType=INTEGER},
      sex_type = #{sexType,jdbcType=INTEGER},
      subscription_num = #{subscriptionNum,jdbcType=INTEGER},
      collect_num = #{collectNum,jdbcType=INTEGER},
      click_num = #{clickNum,jdbcType=INTEGER},
      ext = #{ext,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.fiction.crawler.domain.dto.FictionInfoExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from fiction_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>